h1, h2, h3 {
    margin-left : 15%;
}

h3 {
    display: inline-block;
}

button {
    margin-left: 15%;
}

div {
    margin-left: 15%;
}

.vl {
  border-left: 1px solid black;
  height: 125px;
  margin-left: 25%;
  padding-bottom: 50px;
}

.details {
    float: left;
}